.clients__container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.clients__title {
  font-size: 18px;
  color: #07070A;
  font-weight: 500;
  text-align: center;
}

.clients__logotypes {
  position: relative;
  overflow: hidden;
  --offset: 25vw;
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-47% + var(--offset));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__logotypes-inner-block {
  width: fit-content;
  display: flex;
  position: relative;
  justify-content: space-between;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.clients__logo {
  padding: 0 5vw;
}

.clients__logotypes:hover .clients__logotypes-inner-block {
  animation-play-state: running;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
