.process {
  margin-top: 100px;
}

.process__container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.process_title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
}

.process__blocks {
    display: flex;
    justify-content: space-between;
}

.process__block {
  padding: 35px;
  width: 360px;
  background-color: #FFFCEE;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.process__block_big-text--yellow {
  font-size: 80px;
  font-weight: 500;
  color: #FAD007;
}

.process__block_medium-text {
  font-size: 32px;
  font-weight: 500;
}

.process__block_small-text {
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #39393B;
}