@import url('css/header.css');
@import url('css/base.css');
@import url('css/banner.css');
@import url('css/about.css');
@import url('css/workouts.css');
@import url('css/slider.css');
@import url('css/services.css');
@import url('css/clients.css');
@import url('css/process.css');
@import url('css/pricing.css');
@import url('css/contact.css');
@import url('css/testimonials.css');
@import url('css/cta.css');
@import url('css/footer.css');
