.download {
  background-color: #FFF8F2;
  padding-bottom: 140px;
}

.download__wrapper {
  margin-left: 20px;
}

.download__title {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  color: #18063C;
  margin-top: -110px;
}

.download__subtitle {
  font-size: 20px;
  line-height: 36px;
  color: #404040;
  max-width: 529px;
  margin-top: 24px;
}

.download__right-hand {
  position: absolute;
  right: 0;
  margin-top: -270px;
}

.download__buttons {
  display: flex;
  gap: 20px;
  margin-top: 48px;
}

.download__button {
  padding: 24px 40px;
  border-radius: 40px;
  line-height: 0px;
  display: block;
}

.download__button--fill {
  background-color: #FF553E;
  max-width: 180px;
}

.download__button--border {
  border: 1px solid #FF553E;
  max-width: 195px;
}