.header {
  background-color: #FFF8F2;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.header__nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header__nav-link {
    text-decoration: none;
    color: #1C0E0D;
    font-weight: 400;
    transition: color 0.3s ease;
    font-size: 18px;
}

.header__nav-link:hover {
    color: #FF553E;
}

.header__actions {
    display: flex;
    gap: 15px;
}

.header__btn {
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.header__btn--login {
    background-color: transparent;
    color: #FF553E;
    font-size: 18px;
    font-weight: 500;
}

.header__btn--login:hover {
    color: #f1341b;
}

.header__btn--signup {
    background-color: #FF553E;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 34px;
    line-height: 28px;
}

.header__btn--signup:hover {
    background-color: #f1341b;
    transform: translateY(-1px);
}