.hero {
    background-color: #FFF8F2;
    padding-top: 60px;
}

.hero__content {
  display: flex;
  /* justify-content: center; */
}

.hero__image-alarm {
  margin-bottom: 300px;
}

.hero__main-content--title {
  font-size: 64px;
  width: 800px;
  text-align: center;
}

.hero__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__main-content--subtitle {
  text-align: center;
  width: 595px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #40201E;
  line-height: 36px;
  margin-top: 24px;
}

.hero__main-content--btn {
  margin-top: 68px;
  padding: 24px 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: #FF553E;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}

.hero__image-tablet {
  position: absolute;
  margin-top: 300px;
  margin-left: 800px;
}

.hero__stats {
  display: flex;
  justify-content: center;
  gap: 190px;
  margin-top: 150px;
  padding-bottom: 62px;
}

.hero__stat {
    text-align: center;
}

.hero__stat-number {
    display: block;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #18063C;
}

.hero__stat-label {
    font-size: 18px;
    color: #404040;
}