/* Адаптивность */
@media (max-width: 461px) {
  .header__container,
  .hero__container,
  .features__container,
  .download__container,
  .footer__container {
    /* max-width: 360px; */
    margin: 0 auto;
  }

  /* СТИЛИ ШАПКИ */
  .header__burger {
    display: flex;
    margin-bottom: 10px;
  }
  
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #1a1a1a;
    padding: 80px 20px 20px;
    transition: right 0.3s ease;
    z-index: 999;
  }
  
  .header__nav.active {
    right: 0;
  }
  
  .header__nav-list {
    flex-direction: column;
    gap: 20px;
  }
  
  .header__nav-link {
    color: #fff;
    font-size: 18px;
  }
  
  .header__close {
    display: block;
  }
  
  .header__nav-actions {
    display: flex;
  }
  
  .header__actions {
    display: none;
  }

  /* СТИЛИ ГЛАВНОГО ЭКРАНА */
  .hero {
    padding-top: 0px;
  }
  
  .hero__content {
    flex-direction: column;
  }

  .hero__image-alarm {
    align-self: end;
    margin-bottom: 0px;
    margin-bottom: -38px;
    margin-right: 35px;
  }

  .hero__image-alarm img {
    align-self: end;
    margin-bottom: 0px;
    width: 65px;
    height: 75px;
  }

  .hero__main-content {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 25px;
  }

  .hero__main-content--title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 160%;
    font-weight: 700;
    width: 390px;
    text-align: left;
  }

  .hero__main-content--subtitle {
    text-align: inherit;
    width: 390px;
    font-size: 16px;
  }

  .hero__main-content--btn {
    margin-top: 40px;
  }

  .hero__image-tablet {
    display: none;
  }

  .hero__stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 0px;
    margin-top: 60px;
  }

  .hero__stat:not(:last-child) {
    padding-bottom: 48px;
    width: 180px;
  }

  .hero__stat:not(:last-child) {
    border-bottom: 1px solid rgba(64, 64, 64, .5);
  }

  .hero__stat-number {
    font-size: 64px;
  }

  /* СТИЛИ FEATURES */
  .features {
    margin-top: -15px;
  }

  .feature__text--title-bg {
    display: none;
  }

  .features__content {
    flex-direction: column;
    align-items: baseline;
  }

  .features__content--image {
    order: -1;
    margin-left: 5px;
  }

  .features__content--image img {
    width: 100px;
    height: 92px;
    margin-left: -25px;
  }

  .features__text--title {
    font-size: 24px;
    width: 311px;
  }

  .features__text--subtitle {
    font-size: 16px;
  }

  .features__text {
    margin-left: 0px;
    width: 327px;
  }

  .features__cards {
    flex-direction: column;
  }

  .feature__card {
    max-width: 343px;
  } 

  /* СЕКЦИЯ TRACKING */
  .tracking {
    display: none;
  }

  /* СЕКЦИЯ DOWNLOAD */
  .download {
    margin-top: 70px;
    padding-bottom: 40px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }

  .download__left-hand {
    display: none;
  }

  .download__title {
    font-size: 24px;
    margin-top: 0px;
  }

  .download__subtitle {
    font-size: 16px;
    margin-top: 0px;
  }

  .download__buttons {
    flex-direction: column;
    margin-top: 30px;
  }

  .download__right-hand {
    right: -35px;
    margin-top: -160px;
    width: 176px;
    height: 60px;
    clip: rect(0px, 145px, 60px, auto);
    max-width: 100%; /* Не позволит выйти за границы */
    box-sizing: border-box;    
  }

  .download__right-hand img{
    width: 145px;
    height: 60px;
  }

  /* СЕКЦИЯ FOOTER */
  .footer {
    margin-top: 40px;
  }

  .footer__logo {
    order: 1;
    margin-left: 40px;
  }

  .footer__links-block {
    order: 3
  }

  .footer__socials {
    order: 2;
  }

  .footer__links-container {
    flex-direction: column;
    margin-left: 42px;
    gap: 50px;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__divider {
    display: none;
  }

  .footer__other-info {
    flex-direction: column;
    margin-left: 42px;
  }

  .footer__other-info-links {
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    font-size: 16px;
  }

  .copyright {
    margin-top: 24px;
    font-size: 16px;
  }
}
